.container{
    width: 1200px;
    margin: 0 auto;
}
.header{
    padding: 10px 0px; 
    height: 100px;
}
.search{
    float: right;
    background: linear-gradient(to top,rgba(112, 231, 14, 0.808), rgba(112,231,14,0.4));
    height: 50px;
    padding: 20px 10px 0px 10px;
    margin-top: 45px;
    width: 400px;
}
.name p{
    float: left;
    color: steelblue;
    font-size: 50px;
    font-weight: 100;
}
.clear{
    clear: both;
}
#textbox{
    float: left;
    width: 220px;
    padding: 5px;
    font-size: 15px;
    color: rgba(223, 28, 206, 0.562);
    background: white url(search.png) center right no-repeat;
    border: 1px solid #C8D03E;

}
#searchbox{
    font-weight: 11ld;
    width: 110px;
    float: right;
    font-size: 15px;
    padding: 5px;
    background: rgba(137, 24, 160, 0.815);
    color: white;
    text-align: center;
    border: 1px solid #DCD5E1;
}
ul{
    list-style: none;
}
.menu{
    background: linear-gradient(rgba(238, 220, 54, 0.932), rgba(165, 221, 35, 0.815) ) ;
    background: -webkit-linear-gradient(rgba(238, 220, 54, 0.932), rgba(165, 221, 35, 0.815) ) ;
    background: -moz-linear-gradient(rgba(238, 220, 54, 0.932), rgba(165, 221, 35, 0.815) ) ;
    background: -o-linear-gradient(rgba(238, 220, 54, 0.932), rgba(165, 221, 35, 0.815) ) ;
    background: -ms-linear-gradient(rgba(238, 220, 54, 0.932), rgba(165, 221, 35, 0.815) ) ;
    padding: 10px 0;
    margin-top: 35px;
    height: 70px;
}
.menu ul li{
    float: left;
    text-align: left;
    border-right: 1px red solid;
    padding: 0 20px;
    height: 30px;
   }
.menu ul li a{
    text-decoration: none;
    line-height: 40px;
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(166, 50, 219, 0.822);
    -webkit-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}
.menu ul li:last-child{
    border-right: none;
}
.menu ul li a:hover, .menu ul li a.active{
    font-weight: bold;
    font-size: 25px;
    color: rgba(44, 212, 241, 0.932)
}
.para{
    background:linear-gradient(rgba(185, 216, 72, 0.3), rgba(193, 235, 7, 0.938));
    padding: 20px 20px 0px 20px;
    margin: 20px 0;
}
.para h1{
    color: rgba(29, 88, 6, 0.6);
    font-size: 60px;
    font-weight: normal;
}
.para p{
    color: rgba(29, 88, 6, 0.6);
    font-size: 29px; 
    padding: 20px 0;  
    text-align: justify;
}
#table{
    border: 1px solid rgba(132, 230, 20, 0.808);
    border-radius: 20px;
    float: left;
    width: 590px;
    height: 550px;
}
#table h3{
    color: rgba(90, 12, 143, 0.562);
    font-size: 40px;
    padding-left: 30px;
}
#table ul{
    list-style-image: url(arrow.png);
    padding-left: 90px;
}
#table ul li{
    padding: 5px;
}
#table ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    transition: font-weight 0.5s ease;
    -moz-transition: font-size 0.5s ease;
    -webkit-transition: font-size 0.5s ease;
    -ms-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
}
#table ul li a:hover{
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

#table1{
    border: 1px solid rgba(132, 230, 20, 0.808);
    border-radius: 20px;
    float: right;
    width: 590px;
    height: 550px;
}
#table1 h3{
    color: rgba(90, 12, 143, 0.562);
    font-size: 40px;
    padding-left: 30px;
}
#table1 ul{
    list-style-image: url(tick.png);
    padding-left: 90px;
}
#table1 ul li{
    padding: 5px;
}
#table1 ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
    transition: font-weight 0.5s ease;
    -moz-transition: font-size 0.5s ease;
    -webkit-transition: font-size 0.5s ease;
    -ms-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
}
#table1 ul li a:hover{
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}
#clear{
    clear: both;
}
#footer p{
    padding: 25px;
    color: rosybrown;
    font-size: 20px;
    background: linear-gradient(rgba(236, 211, 69, 0.445), rgba(236, 209, 55, 0.815));
}